<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class = "container-fluid inner-container" ng-controller="disciplineDetailsController">
    <!--discipline info-->
    <div class = "jumbotron">
        <div class=" container">
            <div class="pull-left" >
                <h3 id = "discipline-title">{{dataCourse.name}}</h3> 
                <!--<h3>Lecturer</h3>--> 

                <span class="label label-info">Кредити:</span>
                <span>5</span>
                <span class="label label-info">Категория:</span>
                <span>{{dataCourse.category}}</span>               

            </div>

            <table class="pull-right table rating-table table-condensed">
                <tr>
                    <td class="progress-label-td"><strong>Средна оценка:</strong></td>
                    <td>
                        <strong>{{sum / votes.votes.length}}</strong>
                    </td>
                </tr>
                <tr ng-repeat='vote in votes.votes'>
                    <td class="progress-label-td">{{vote.criterionName}}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{vote.avarage}}" aria-valuemin="0" aria-valuemax="5" style="width: {{(vote.avarage / 5) * 100}}%">
                                {{vote.avarage}}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <a class="show-list" href="#disciplines-list-page"><span class="glyphicon glyphicon-chevron-left pull-left"><strong> Всички курсове</strong></span></a>
    </div>
    
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" ng-click="info(dataCourse.id)">Подробна информация</button>
        <button type="button" class="btn btn-primary" ng-click="vote(dataCourse.id)">Оценка</button>
        <button type="button" class="btn btn-primary" ng-click="materials(dataCourse.id)">Материали</button>
    </div>

    <div class = "container-fluid inner-container" id="discipline-choosen-tab-container">
        <div ng-show="showDetails" class="container-fluid inner-container">
            <h3>Преподаватели:</h3>
            <ul class="list-group">
                <li ng-repeat="teacher in dataCourse.teachers" class="list-group-item">
                    <a >{{teacher.name}}</a>
                </li>
            </ul>
        </div>


        <div ng-show="showVote" class="container-fluid inner-container">
            <h3>Дай своята оценка</h3>

            <div  class = "container-fluid inner-container" id="discipline-ratings-table-container">

                <form class="form-inline center" ng-submit="rate()">
                    <div class="form-group rate-group">
                        <label for="Usefulness">Полезност</label>
                        <div class="input-group">

                            <select class="form-control" ng-model="rating.usefulness" id="Usefulness"  >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>        
                        </div>

                    </div>
                    <div class="form-group rate-group">
                        <label for="easyness">Леснота</label>
                        <div class="input-group">

                            <select class="form-control" ng-model="rating.simplicity" id="easyness"  >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>        
                        </div>
                    </div>
                    <div class="form-group rate-group">
                        <label for="interesting">Интерес</label>
                        <div class="input-group">

                            <select class="form-control" ng-model="rating.interest" id="interesting"  >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>        
                        </div>
                    </div>
                    <div class="form-group rate-group">
                        <label for="hardness">Натовареност</label>
                        <div class="input-group">

                            <select class="form-control" ng-model="rating.workload" id="hardness" >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>        
                        </div>

                    </div>
                    <div class="form-group rate-group">
                        <label for="clearance">Яснота</label>
                        <div class="input-group">

                            <select class="form-control" ng-model="rating.clarity" id="clearance" >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>        
                        </div>

                    </div>

                    <div class="form-group rate-group">
                        <textarea class="form-control" rows="3" cols="100" ng-model="rating.comment"></textarea>
                    </div>

                    <div class="form-group rate-group">
                        <button type="submit" class="btn btn-primary" >Оцени</button>
                    </div>
                </form>

            </div>

            <div class="container-fluid inner-container">
                <h3>Коментари</h3>
            </div>
            <div ng-repeat="comment in dataCourse.comments" class="container-fluid inner-container" id="discipline-comments-container">
                <div class="panel panel-default">
                    <blockquote>
                        <p>{{comment.text}}</p>
                        <footer>{{comment.author}} <cite title="Date">{{comment.dateCreated}}</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <div ng-show="showMaterials" class = "container-fluid inner-container">
            <div class="container-fluid inner-container" id="upload-local-material">
                <form class="form-inline center">
                    <div class="form-group" ng-controller="FileUploadCtrl">
                        <label for="uploadMaterial">Качи материал от локалното устройство:</label>
                        <input type="file" ng-model-instant id="uploadMaterial" multiple onchange="angular.element(this).scope().setFiles(this)">
                        <p class="help-block">Може да изберете материал от вашето устройство, който да качите.</p>
                    <div ng-show="showUploadButton">
                        <div ng-repeat="file in files">
                            <span>{{file.name}}</span>
                            (<span ng-switch="file.size > 1024*1024">
                                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                            </span>)
                        </div>
                        <input type="button" ng-click="uploadFile(dataCourse.id)" value="Upload" />
                        <div ng-show="progressVisible">
                            <div class="percent">{{progress}}%</div>
                            <div class="progress-bar">
                                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                </form>
            </div>

            <div class="container-fluid inner-container">
                <ul class="list-group">
                    <li class="list-group-item">
                        Cras justo odio
                        <a href="#">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<!--<script src="js/navigation/disciplines.js"></script>-->
<script src="js/navigation/return-to-list.js"></script>
