<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="js/controller.js"></script>
 -->
<div class = "container-fluid inner-container">
    <!--teacher info-->
    <div class = "jumbotron">
        <div class=" container">
            <div class="pull-left" ng-controller="teacherDetailsController">
                <h3 id = "teacher-name">{{dataTeacher.name}}</h3>

                <span class="label label-info">Катедра:</span>
                <span>{{dataTeacher.department}}</span>
                <span class="label label-info">Тип:</span>
                <span>асистент</span>               

            </div>

                <table class="pull-right table rating-table table-condensed">
                   <tr>
                        <td class="progress-label-td"><strong>Средна оценка:</strong></td>
                        <td>
                            <strong>{{sum / votes.length}}</strong>
                        </td>
                    </tr>
                    <tr ng-repeat="criterion in votes">
                        <td class="progress-label-td">{{criterion.criterionName}}</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{criterion.avarage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{(criterion.avarage / 5) * 100}}%;">
                                    {{criterion.avarage}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="progress-label-td">Ентусиазъм</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                    3.0
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="progress-label-td">Критерий на оценяване</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                    4.3
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="progress-label-td">Скорост на преподаване</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    6.5
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="progress-label-td">Обхват на преподавания материал</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                                    1.0
                                </div>
                            </div>
                        </td>
                    </tr> -->
                </table>
        </div>
        <a class="show-list" href="#teachers-list-page"><span class="glyphicon glyphicon-chevron-left pull-left"><strong> Всички преподаватели</strong></span></a>
    </div>

    <!--teacher details-->
    <ul class="nav nav-tabs" id="teacher-tabs-nav">
        <button type="button" class="btn btn-default" ng-click="info(dataTeacher.id)">Подробна информация</button>
        <button type="button" class="btn btn-default" ng-click="vote(dataTeacher.id)">Оценка</button>
    </ul>

    <div class = "container-fluid inner-container" id="teacher-choosen-tab-container">
        <div ng-show="showDetails" class="container-fluid inner-container">
            <h3>Курсове:</h3>
            <ul class="list-group">
                <li ng-repeat="course in dataTeacher.courses" class="list-group-item">
                    <a >{{course.name}}</a>
                </li>
            </ul>
        </div>


        <div ng-show="showVote" class="container-fluid inner-container">
            <h3>Дай своята оценка</h3>

            <div  class = "container-fluid inner-container" id="teacher-ratings-table-container">

                <form class="form-inline center" ng-submit="rate()">
                    <div class="form-group rate-group">
                        <label for="Enthusiasm">Ентусиазъм</label>
                        <div class="input-group">
                           
                            <select class="form-control" ng-model="rating.enthusiasm" id="enthusiasm"  >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>        
                        </div>

                    </div>
                    <div class="form-group rate-group">
                        <label for="clarity">Яснота</label>
                        <div class="input-group">
                            
                            <select class="form-control" ng-model="rating.clarity" id="clarity"  >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>        
                        </div>
                    </div>
                    <div class="form-group rate-group">
                        <label for="evaluation">Критерии на оценяване</label>
                        <div class="input-group">
                           
                            <select class="form-control" ng-model="rating.evaluation" id="evaluation"  >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>        
                        </div>
                    </div>
                    <div class="form-group rate-group">
                        <label for="speed">Скорост на преподаване</label>
                         <div class="input-group">
                            
                            <select class="form-control" ng-model="rating.speed" id="speed" >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>        
                        </div>
                       
                    </div>
                    <div class="form-group rate-group">
                        <label for="scope">Обхват на преподавания материал</label>
                        <div class="input-group">
                            
                            <select class="form-control" ng-model="rating.scope" id="scope" >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>        
                        </div>

                    </div>

                    <div class="form-group rate-group">
                        <textarea class="form-control" rows="3" cols="100" ng-model="rating.comment"></textarea>
                    </div>

                    <div class="form-group rate-group">
                        <button type="submit" class="btn btn-primary" >Оцени</button>
                    </div>
                </form>

            </div>

            <div class="container-fluid inner-container">
                <h3>Коментари</h3>
            </div>
            <div ng-repeat="comment in dataTeacher.comments" class="container-fluid inner-container" id="teacher-comments-container">
                <div class="panel panel-default">
                    <blockquote>
                        <p>{{comment.text}}</p>
                        <footer>{{comment.author}} <cite title="Date">{{comment.dateCreated}}</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="js/navigation/teachers.js"></script>
<script src="js/navigation/return-to-list.js"></script>

