<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="js/controller.js"></script>

<div class="container-fluid inner-container">

    <div class="panel-group" id="teacher-type-accordion" role="tablist" ng-controller="TeachersCtrl">

        <div class="panel panel-default">
            <div ng-repeat ='department in departments' class="panel-heading" role="tab" id="typeHeadingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#teacher-type-accordion" href="#collapseTypeOne" aria-expanded="true" aria-controls="collapseTypeOne">
                        {{department.name}}
                    </a>
                </h4>
            </div>
            <div id="collapseTypeOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="typeHeadingOne">
                <div class="panel-body">

                    <div class="panel-group" id="accordion" role="tablist">
                        <div ng-repeat="teacher in department.teachers" class="panel panel-default" id="1">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        {{teacher.name}}
                                    </a>                    
                                </h4>

                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul>
                                    <li ng-repeat='course in teacher.courses'>{{course.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/navigation/teachers.js"></script>

